* {
    margin: 0;
    padding: 0;
}
.container {
    background: linear-gradient(135deg, #153677, #4e085f);
    width: 99vw;
    height: 99vh;
    padding-top: 1px;
}
.quiz-app-conatiner {
        width: 40vw;
        background-color: white;
        margin: 10vh auto;
        padding: 10px 20px 20px;
}
.container >h2{
    text-align: center;
    justify-content: center;
    color: azure;
}
.quiz-app-conatiner h2{
    margin: 20px 15px;
    color: #ac18d1;
}
.btn{
    position: relative;
    margin: 10px;
    background:#edeef0;
    border-radius: 50px;
    display: flex;
    width: 90%;
    padding: 20px ;
}
.btn:hover:not([disabled]){
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    background-color: #4d4d4e;
    color: antiquewhite;
}
#next-btn{
    border-radius: 50px;
    background-color: #4e085f;
    color: bisque;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin: 5vh 15vw 1vh;
    display: none;
}
#next-btn:hover{
    transform: translateY(-2px);
    transition: 0.5s all ease-in-out;
}
.correct{
    background-color: rgb(51, 216, 51);
    color: beige;
}
.incorrect{
    background-color: rgb(236, 21, 21);
    color: beige;
}
button{
    border: none;
    outline: none;
}


  
